[submodule "duckdb"]
	path = duckdb
	url = https://gitlab.coginiti.co/engineering/duckdb
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools.git
